<%include partials/header.ejs %>
<div id ='headerSpacer'></div>
<h1>This is kays blog</h1>
<img src=http://res.cloudinary.com/dj2i7ddwx/image/upload/v1530229803/lnyuks9efhjjqrkjirjx.jpg">


<%posts.forEach(function(post) {%>
	<div class='blogWell'>
		<h3 class = 'blogTitle'><%=post.title%></h3>
		<h5 class = 'blogDate'><%= post.date %></h5>
		<p class = 'blogBody'><%= post.post %></p>
		<% if (post.picone) {%>
			<img src='<%= post.picone%>' class='blogImg' />
		<% } %>
		<% if (post.pictwo) {%>
			<img src'<%= post.pictwo%>' class='blogImg' />
		<% } %>
	</div>
<%})%>
<%include partials/footer.ejs %>