<%include partials/header.ejs %>
<h1>This is kays blog</h1>

<%posts.forEach(function(post) {%>
	<div class='blogWell'>
		<h3 class = 'blogTitle'><%=post.title%></h3>
		<h5 class = 'blogDate'><%= months[post.date.getMonth()] %> <%= post.date.getDate() %> <%= post.date.getFullYear()%> <%= post.date.getHours()%>:<%= post.date.getMinutes()%> <%if (post.date.getHours()<12) { %>AM<%}%><%if (post.date.getHours()>11) { %>PM<%}%></h5>
		<p class = 'blogBody'><%= post.post %></p>
		<% if (post.picone) {%>
			<img src='<%= post.picone%>' class='blogImg' />
		<% } %>
		<% if (post.pictwo) {%>
			<img src'<%= post.pictwo%>' class='blogImg' />
		<% } %>
		<a href="/<%= post.id %>">edit</a>
		<a href="/<%= post.id %>" class= 'deleteBtn'>delete</a>
	</div>
<%})%>
<%include partials/footer.ejs %>